{% extends 'base.html.twig' %}

{% block title %}New Schedule{% endblock %}

{% block body %}
 <div class="container">
    <h1>Créer le jour</h1>
	{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.day) }}
			{{ form_widget(form.day) }}
			<div class="form-error">
				{{ form_errors(form.day) }}
			</div>
		</div>
        <div class="form-group">
			{{ form_label(form.openingTimeMidday) }}
			{{ form_widget(form.openingTimeMidday) }}
			<div class="form-error">
				{{ form_errors(form.openingTimeMidday) }}
			</div>
		</div>
        <div class="form-group">
			{{ form_label(form.closingTimeMidday) }}
			{{ form_widget(form.closingTimeMidday) }}
			<div class="form-error">
				{{ form_errors(form.closingTimeMidday) }}
			</div>
		</div>
        <div class="form-group">
			{{ form_label(form.openingTimeEvening) }}
			{{ form_widget(form.openingTimeEvening) }}
			<div class="form-error">
				{{ form_errors(form.openingTimeEvening) }}
			</div>
		</div>
        <div class="form-group">
			{{ form_label(form.closingTimeEvening) }}
			{{ form_widget(form.closingTimeEvening) }}
			<div class="form-error">
				{{ form_errors(form.closingTimeEvening) }}
			</div>
		</div>

		{{ form_end(form) }}
    <a href="{{ path('schedule.index') }}">Vers les horaires d'ouverture</a>
    </div>
{% endblock %}
