	{% extends 'base.html.twig' %}

{% block title %}New Schedule{% endblock %}

{% block body %}
	<div class="container mt-4 text-cente" style="max-width: 550px;">
		<h1 class="mb-4 h5-page">Horaires d'ouverture</h1>
		<table class="table mt-4">
			<thead>
				<tr>
					<th class="fs-4 text-center h5-page text-light">Jour</th>
					<th class="fs-4 text-center h5-page text-light">Horaire d'ouverture</th>
				</tr>
			</thead>
			<tbody>
				{% for schedule in schedules %}
					<tr>
						<td class="fs-5 text-center text-capitalize bg-dark time">{{ schedule.day }}</td>
						
						<td class="text-center bg-dark">
						{% if schedule.openingTimeMidday %}
						{{ schedule.openingTimeMidday }}
						
							{% endif %}
							{% if schedule.closingTimeMidday %}
								- {{ schedule.closingTimeMidday }}
							{% endif %}
							<br>
							{% if schedule.openingTimeEvening %}
							{{ schedule.openingTimeEvening }}
							
							{% endif %}
							{% if schedule.openingTimeEvening %}
							- {{ schedule.closingTimeEvening }}
								{% endif %}
							</td>
					</tr>
			</tbody>
		</tr>
	{% endfor %}

</tbody></table></div>
 {% endblock %}
