{% extends 'base.html.twig' %}

{% block title %}New Schedule{% endblock %}

{% block body %}
 <div class="container">
    <h1>Créer le jour</h1>
	{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.day) }}
			{{ form_widget(form.day) }}
			<div class="form-error">
				{{ form_errors(form.day) }}
			</div>
		</div>
        <div class="form-group">
			{{ form_label(form.openingTimeAm) }}
			{{ form_widget(form.openingTimeAm) }}
			<div class="form-error">
				{{ form_errors(form.openingTimeAm) }}
			</div>
		</div>
        <div class="form-group">
			{{ form_label(form.closingTimeAm) }}
			{{ form_widget(form.closingTimeAm) }}
			<div class="form-error">
				{{ form_errors(form.closingTimeAm) }}
			</div>
		</div>
        <div class="form-group">
			{{ form_label(form.openingTimePm) }}
			{{ form_widget(form.openingTimePm) }}
			<div class="form-error">
				{{ form_errors(form.openingTimePm) }}
			</div>
		</div>
        <div class="form-group">
			{{ form_label(form.closingTimePm) }}
			{{ form_widget(form.closingTimePm) }}
			<div class="form-error">
				{{ form_errors(form.closingTimePm) }}
			</div>
		</div>

		{{ form_end(form) }}
    <a href="{{ path('schedule.index') }}">Vers les horaires d'ouverture</a>
    </div>
{% endblock %}
