{% extends 'base.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block body %}
    <h1>Schedule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Day</th>
                <th>Horaies d'ouverture</th>
                
            </tr>
            <tr>
                
                <td>{{ schedule.day }}</td>
                <td>{{ schedule.openingTimeAm }} - {{ schedule.closingTimeAm }}
                <br>
                {{ schedule.openingTimePm }} - {{ schedule.closingTimePm }}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
