{% extends 'base.html.twig' %}

{% block title %}Schedule
{% endblock %}

{% block body %}
	<h3>NOS<br>Horaires d'ouverture</h3>
	<table class="table mt-4">
		<thead>
			<tr>
				<th>Jour</th>
				<th>Horaire d'ouverture</th>
			</tr>
		</thead>
		<tbody>
			
				<tr>
					<td id="day">{{ schedule.day }}</td>
					<td 
					<div id="openingTimeMidday">{{ schedule.openingTimeMidday }}</div>
						-
						<div id="closingTimeMidday">{{ schedule.closingTimeMidday }}</div><br>
						<div id="openingTimeEvening">{{ schedule.openingTimeEvening }}</div>
						-
							<div id="closingTimeEvening">{{ schedule.closingTimeEvening }}</div>
					</td>
			
			</tbody>
		</tbody>
	</tr>
</div>{% endblock %}
