	{% extends 'base.html.twig' %}

{% block title %}New Schedule{% endblock %}

{% block body %}

{% for schedule in schedules %}
				
						<div class="fs-5 text-center text-capitalize bg-dark">{{ schedule.day }}</div>
						
						<div class="text-center bg-dark">
						{% if schedule.openingTimeMidday %}
					<div class="time">{{ schedule.openingTimeMidday }}
							</div>
							{% endif %}
							{% if schedule.closingTimeMidday %}
							-
							{{ schedule.closingTimeMidday }}
							{% endif %}
							<br>
							{% if schedule.openingTimeEvening %}
							{{ schedule.openingTimeEvening }}
							
							{% endif %}
							{% if schedule.openingTimeEvening %}
							-
							{{ schedule.closingTimeEvening }}
								{% endif %}
							</div>
					
	
	{% endfor %}

	{% endblock %}

 {# {% block javascript %}
 <script type="text/javascript">

 let time = document.getElementByClassName("time");

  document.writeln(time())
    </script>

 {% endblock %} #}
{# 	
function show_schedule() {
switch(day) {
		case 1: 'Lundi'+' :'+openingTimeMidday+' - '+closingTimeMidday+' - '+openingTimeEvening+' - '+closingTimeEvening;
		break;
		case 2: 'Mardi'+' :'+openingTimeMidday+' - '+closingTimeMidday+' - '+openingTimeEvening+' - '+closingTimeEvening;;
		break;
		case 3: 'Mercredi - Fermé';
		break;
		case 4:'Jeudi'+' :'+openingTimeMidday+' - '+closingTimeMidday+' - '+openingTimeEvening+' - '+closingTimeEvening;;
		break;
		case 5: 'Vendredi'+' :'+openingTimeMidday+' - '+closingTimeMidday+' - '+openingTimeEvening+' - '+closingTimeEvening;;
		break;
		case 6: 'Samedi'+' :'+openingTimeMidday+' - '+closingTimeMidday+' - '+openingTimeEvening+' - '+closingTimeEvening;;
		break;
		case 7: 'Dimanche'+' :'+openingTimeMidday+' - '+closingTimeMidday+' - '+openingTimeEvening+' - '+closingTimeEvening;;
		break;

	}
	return day+' : '+openingTimeMidday+' - '+closingTimeMidday+'   '+openingTimeEvening+' - '+closingTimeEvening;
}

 document.write(dayToName())
    </script>

 {% endblock %} #}

