	{# {% extends 'base.html.twig' %}

{% block title %}New Schedule{% endblock %}

{% block body %}
				
						<div class="fs-5 text-center text-capitalize bg-dark">{{ schedule.day }}</div>
						
						<div class="text-center bg-dark">
						{% if schedule.openingTimeMidday %}
						{{ schedule.openingTimeMidday }}
							
							{% endif %}
							{% if schedule.closingTimeMidday %}
							-
							{{ schedule.closingTimeMidday }}
							{% endif %}
							<br>
							{% if schedule.openingTimeEvening %}
							{{ schedule.openingTimeEvening }}
							
							{% endif %}
							{% if schedule.openingTimeEvening %}
							-
							{{ schedule.closingTimeEvening }}
								{% endif %}
							</div>
					
	
	{% endfor %}

	{% endblock %} #}
	

{% block javascripts %}
<script type="text/javascript">
{# let weekdays = new Array('Dimanche ', 'Lundi ', 'Mardi ', 'Mercredi', 'Jeudi ', 'Vendredi ', 'Samedi '); #}
let weekdays = new Array('Dimanche ', 'Lundi ', 'Mardi ', 'Mercredi', 'Jeudi ', 'Vendredi ', 'Samedi ');


let today = new Date();
let day = today.getDay();

let openingTimeMidday = document.querySelector('#openingTimeMidday');
  let closingTimeMidday = document.querySelector('#closingTimeMidday');
  let openingTimeEvening = document.querySelector('#openingTimeEvening');
  let closingTimeEvening = document.querySelector('#closingTimeEvening');  
let result = weekdays[today.getDay()] + " : "+ openingTimeMidday;

{# let options = { weekday: 'long'}; #}
{# let result = new Intl.DateTimeFormat('fr-FR', options).format(Xmas95); #}


document.writeln(result);
</script>
{% endblock %}