{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom / Prénom</th>
                <th>Convives</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Allergies</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.fullName }}</td>
                <td>{{ reservation.nbPeople }}</td>
                <td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
             
                    <td>{{ reservation.daySlot }}</td>
               
		        
       		
                <td>{% for allergies in reservation.allergies %}
				{{ allergies.name|raw }}
	             	{% endfor %}</td>
                <td>
                    <a href="{{ path('reservation.show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('reservation.edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservation.new') }}">Nouvelle réservation</a>
{% endblock %}
