{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	<div class="container mt-4 text-center">

		<h1 class="h5-page">Page de la reservation</h1>
		<p class="text-center text-light">Merce d'avance de précisier en commaintaire le nombre d'enfants présent à table (s'il y en a)! <br>
		Pour tout retard de plus de 20 min votre table sera donnée à d'autre client!!
		</p>

		{{ form_start(form) }}

		{# <div class="row mb-4 form-row"> #}
			{# {% if app.user.nbPeople %}

				<div class="form-group  col-3 mb-4">
					{{ form_label(form.nbPeople) }}
					{{ form_widget(app.user.nbPeople) }}
					<div class="form-error">
						{{ form_errors(form.nbPeople) }}
					</div>
				</div>
			{% else %} #}

			
				<div class="row form-row mt-4">
					<div class="form-group  col-6 mb-4">
						{{ form_label(form.nbPeople) }}
						{{ form_widget(form.nbPeople) }}
						<div class="form-error">
							{{ form_errors(form.nbPeople) }}
						</div>
					</div>

				{# {% endif %} #}
			{# </div> #}
			<div class="form-group col-6 mb-4">
				{{ form_label(form.date) }}
				{{ form_widget(form.date) }}
				<div class="form-error">
					{{ form_errors(form.date) }}
				</div>
			</div>
			
		</div>
		<br>
		{# <div class="form-group col-6 mb-4">
				{{ form_label(form.time) }}
				{{ form_widget(form.time) }}
				<div class="form-error">
					{{ form_errors(form.time) }}
				</div>
			</div>
			
		</div> #}
		<div class="row">
			{# {% if daySlot.isAvailable is same as true %} #}
			<div class="form-group mt-4 text-light bold" style="margin-top: 20px;">
				{{ form_label(form.daySlot) }}
				<br>
				<div class="choiceList-wrapper" style="border: none;">
					{% for field in form.daySlot %}
						<div style="min-width: 15%; background-color: red; padding: 10px; margin-right: 20px; color: white; margin-bottom: 10px; box-shadow: 1px 5px 7px;">
							{{ form_widget(field) }}
							{{ form_label(field) }}
						</div>
					{% endfor %}
					{# {% endif %} #}
				</div>
			</div>
			<div class="row">
			<div class="form-group mt-4 text-light">
			{{ form_label(form.eveningSlot) }}
			<br>
			<div class="choiceList-wrapper" style="border: none;">
				{% for field in form.eveningSlot %}
					<div style="min-width: 15%; background-color: red; padding: 10px; margin-right: 20px; color: white; margin-bottom: 10px; box-shadow: 1px 5px 7px;">
						{{ form_widget(field) }}
						{{ form_label(field) }}
					</div>
				{% endfor %}
				{# {% endif %} #}
			 </div>
		</div> 

		<div class="form-group text-light">
			{{ form_label(form.allergies) }}
			<br>
			<div class="choiceList-wrapper" style="border: none;">
				{% for field in form.allergies %}
					<div style="min-width: 15%;" class="fs-4">
						{{ form_widget(field) }}
						{{ form_label(field) }}
					</div>
				{% endfor %}
			</div>
		</div>
			<div class="form-group mb-4">
					<div class="form-group  col-6 mb-4">
						{{ form_label(form.fullName) }}
						{{ form_widget(form.fullName) }}
						<div class="form-error">
							{{ form_errors(form.fullName) }}
						</div>
					</div>
</div>
		<div class="form-group mb-4">
			{{ form_row(form.submit) }}
		</div>
		{{ form_end(form) }}
	</div>
</div></div>
{# <script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'dd-mm-yyyy'
        });
    });
</script> #}

{% endblock %}
