{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	<div class="container mt-4 text-center">
		<h1 class="h5-page">Page de la reservation</h1>
		<p class="text-center text-light">Merce d'avance de précisier en commaintaire le nombre d'enfants présent à table (s'il y en a)!
			<br>
			Pour tout retard de plus de 20 min votre table sera donnée à d'autre client!!
		</p>
		<div style="width:600px;min-height:auto" class="Modal__ModalContent">
			<div style="background-color:#f59e64" class="Modal__ModalHeader">
			
				
				<div style="width:56px"></div>
			</div>
			<div id="main-modal-body" class="Modal__ModalBody" style="border-radius: 0px 0px 12px 12px; height: 354.891px;">
				<div class="content">
					<div class="Container-2">
						<div class="BackgroundBox">
							<div width="100%,80%" class="sc">
							
							</div>
							<div class="sc-bd">
								<label width="1,0.5" aria-label="pax" class="LabelBox___StyledBox">
									<div color="white.default" height="43px,33px" width="33px" class="IconContainer___StyledBox-sc-1418rna-0 bTlIip gvyVrU">
										<div class="IconContainer___StyledBox2"></div>
									</div>
									<div class="pax-input-wrapper">
										 <div class="form-group">
      <label for="exampleSelect1" class="form-label mt-4"></label>
      <select class="form-select" id="exampleSelect1">
												<option value="1">1<!-- -->
													<!-- -->couvert
												</option><option value="2" selected=""> 2<!-- -->
													<!-- -->couverts
												</option><option value="3"> 3<!-- -->
													<!-- -->couverts
												</option><option value="4"> 4<!-- -->
													<!-- -->couverts
												</option><option value="5"> 5<!-- -->
													<!-- -->couverts
												</option><option value="6"> 6<!-- -->
													<!-- -->couverts
												</option><option value="7"> 7<!-- -->
													<!-- -->couverts
												</option><option value="8"> 8<!-- -->
													<!-- -->couverts
												</option><option value="9"> 9<!-- -->
													<!-- -->couverts
												</option><option value="10"> 10<!-- -->
													<!-- -->couverts
											</option>
										</select>
									</div>
								</div>
								</label>
									<label width="1,0.5" aria-label="date" class="LabelBox___StyledBox"> <div color="white.default" height="43px,33px" width="33px" class="IconContainer___StyledBox">
										<div class="sc-bdfBQB IconContainer___StyledBox2"></div>
									</div>
									<div class="DatePicker___StyledBox date-wrapper">
										<div class="DateInput___StyledBox"><input readonly="" style="font-weight:500" color="white.default" placeholder="Choissisez une date" class="DateInput___StyledBox2 date-select" width="100%" height="3,2" font-size="s" value="lun. 15 mai"></div>
										<div style="margin-left:-100%;width:200%;position:relative;height:1px"></div>
									</div>
								</label>
							</div>
						</div>
						<div class="sc-bd">
							<div width="100%" color="red.default" style="border-radius:4px;position:relative" class="sc-bd">
								<div class="sc-bd">
									<div width="26px" height="26px" style="border-radius:50%" class="Alert___StyledBox">
										<div class="Alert___StyledBox2 zen-icon_ic_info"></div>
									</div>
									<div font-size="s" class="Alert___StyledText">
										<span>
											<b>Pour le nombre de couverts sélectionné, nous n'avons pas trouvé de disponibilité le lundi 15 mai</b>, vous trouverez ci-dessous d'autres dates qui conviennent à votre demande.</span>
									</div>
								</div>
							</div>
							 {# <div class="form-group">
							
								<label width="0.5,0.2" class="form-label mt-4 StyledBox">
									<button width="1" font-size="s" color="#fff" class="sc-bd Button__ButtonWithStyle eZaahK" font-weight="bold">mar. 16 mai</button>
								</label>
								<label width="0.5,0.2" class="sc-bd LabelBox___StyledBox">
									<button width="1" font-size="s" color="#fff" class="sc-bd Button__ButtonWithStyle fBcLBo" font-weight="bold">mer. 17 mai</button>
								</label>
								<label width="0.5,0.2" class="sc-bd LabelBox___StyledBox">
									<button width="1" font-size="s" color="#fff" class="sc-bd Button__ButtonWithStyle eZnfhK" font-weight="bold">jeu. 18 mai</button>
								</label>
								<label width="0.5,0.2" class="sc-bd LabelBox___StyledBox">
									<button width="1" font-size="s" color="#fff" class="sc-bd Button__ButtonWithStyle klWbkv" font-weight="bold">ven. 19 mai</button>
								</label>
								<label width="0.5,0.2" class="sc-bd LabelBox___StyledBox">
									<button width="1" font-size="s" color="#fff" class="sc-bd Button__ButtonWithStyle kFVQQI" font-weight="bold">sam. 20 mai</button>
								</label>
								<label width="0.5,0.2" class="sc-bd LabelBox___StyledBox">
									<button width="1" font-size="s" color="#fff" class="sc-bd Button__ButtonWithStyle edWkIE" font-weight="bold">dim. 21 mai</button>
								</label>
								<label width="0.5,0.2" class="sc-bd LabelBox___StyledBox">
									<button width="1" font-size="s" color="#fff" class="sc-bd Button__ButtonWithStyle jBIKpW" font-weight="bold">mar. 23 mai</button>
								</label>
								<label width="0.5,0.2" class="sc-bd LabelBox___StyledBox">
									<button width="1" font-size="s" color="#fff" class="sc-bd Button__ButtonWithStyle gUiviM" font-weight="bold">mer. 24 mai</button>
								</label>
								<label width="0.5,0.2" class="sc-bd LabelBox___StyledBox">
									<button width="1" font-size="s" color="#fff" class="sc-bd Button__ButtonWithStyle kiObOl" font-weight="bold">jeu. 25 mai</button>
								</label>
								<label width="0.5,0.2" class="sc-bd LabelBox___StyledBox">
									<button width="1" font-size="s" color="#fff" class="sc-bd Button__ButtonWithStyle xKPzg" font-weight="bold">ven. 26 mai</button>
								</label>
							</div> #}
						</div>
					</div>
					
				</div>
			</div>
		</div>

		{# {{ form_start(form) }}
						<div class="row form-row mt-4">
							<div class="form-group  col-6 mb-4">
								{{ form_label(form.nbPeople) }}
								{{ form_widget(form.nbPeople) }}
								<div class="form-error">
									{{ form_errors(form.nbPeople) }}
								</div>
							</div>
					<div class="form-group col-6 mb-4">
						{{ form_label(form.date) }}
						<div>{{ form_widget(form.date) }}</div>
						<div class="form-error">
							{{ form_errors(form.date) }}
						</div>
					</div>
				</div>
				<br>
				<div class="row">
		    	
					<div class="form-group text-light bold text-start">
						{{ form_label(form.lunchTime) }}
						<br>
						<div class="choiceList-wrapper" style="border: none;">
							{% for field in form.lunchTime %}
								<button style="min-width: 15%; background-color: red; padding: 10px; margin-right: 20px; color: white; margin-bottom: 10px; box-shadow: 1px 5px 7px; cursor: pointer;" class="d-flex text-center">
								<div id="lunchTime">{{ form_widget(field) }}</div>
									<div>{{ form_label(field) }}</div>
								</button>
							{% endfor %}
						</div>
					</div>
					<div class="form-group text-light bold text-start">
						{{ form_label(form.dinnerTime) }}
						<br>
						<div class="choiceList-wrapper" style="border: none;">
							{% for field in form.dinnerTime %}
								<button style="min-width: 15%; background-color: red; padding: 10px; margin-right: 20px; color: white; margin-bottom: 10px; box-shadow: 1px 5px 7px; cursor: pointer;" id="dinnerTime">
								<div>
								{{ form_widget(field) }}
									{{ form_label(field) }}</div>
								</button>
							{% endfor %}
						</div>
					</div>
						
				<div class="form-group text-light">
					{{ form_label(form.allergies) }}
					<br>
					<div class="choiceList-wrapper" style="border: none;">
						{% for field in form.allergies %}
							<div style="min-width: 15%; padding: 0 10px" class="fs-4">
								{{ form_widget(field) }}
								{{ form_label(field) }}
							</div>
						{% endfor %}
					</div>
				</div>
					<div class="form-group text-start">
							<div class="form-group col-sm-12 col-6  mb-4">
								{{ form_label(form.fullName) }}
								{{ form_widget(form.fullName) }}
								<div class="form-error">
									{{ form_errors(form.fullName) }}
								</div>
							</div>
		</div>
		<div class="form-group col-sm-12 col-6 mb-4">
								{{ form_label(form.nbChildren) }}
								{{ form_widget(form.nbChildren) }}
								<div class="form-error">
									{{ form_errors(form.nbChildren) }}
								</div>
				<div class="form-group mb-4">
					{{ form_row(form.submit) }}
				</div>
				{{ form_end(form) }}
			</div>
		</div> #}
	</div>
{% endblock %}
