{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	<div class="container mt-4 text-center">
		<h1 class="h5-page">Page de la reservation</h1>
		<p class="text-center text-light">Merce d'avance de précisier en commaintaire le nombre d'enfants présent à table (s'il y en a)! <br>
		Pour tout retard de plus de 20 min votre table sera donnée à d'autre client!!
		</p>
		{{ form_start(form) }}
				<div class="row form-row mt-4">
					<div class="form-group  col-6 mb-4">
						{{ form_label(form.nbPeople) }}
						{{ form_widget(form.nbPeople) }}
						<div class="form-error">
							{{ form_errors(form.nbPeople) }}
						</div>
					</div>
			<div class="form-group col-6 mb-4">
				{{ form_label(form.date) }} 
				{{ form_widget(form.date) }}
				<div class="form-error">
					{{ form_errors(form.date) }}
				</div>
			</div>
		</div>
		<br>
		<div class="row">
    
			<div class="form-group text-light bold text-start">
				{{ form_label(form.daySlot) }}
				<br>
				<div class="choiceList-wrapper" style="border: none;">
					{% for field in form.daySlot %}
						<div style="min-width: 15%; background-color: rgb(239, 1, 1); padding: 10px; margin-right: 20px; color: white; margin-bottom: 10px; box-shadow: 1px 5px 7px; border-radius: 5px;">
							{{ form_widget(field) }}
							{{ form_label(field) }}
						</div>
					{% endfor %}
				</div>
			</div>
		<div class="form-group text-light">
			{{ form_label(form.allergies) }}
			<br>
			<div class="choiceList-wrapper" style="border: none;">
				{% for field in form.allergies %}
					<div style="min-width: 15%;" class="fs-4">
						{{ form_widget(field) }}
						{{ form_label(field) }}
					</div>
				{% endfor %}
			</div>
		</div>
			<div class="form-group text-start">
					<div class="form-group  col-6 mb-4">
						{{ form_label(form.fullName) }}
						{{ form_widget(form.fullName) }}
						<div class="form-error">
							{{ form_errors(form.fullName) }}
						</div>
					</div>
</div>
<div class="form-group  col-6 mb-4">
						{{ form_label(form.nbChildren) }}
						{{ form_widget(form.nbChildren) }}
						<div class="form-error">
							{{ form_errors(form.nbChildren) }}
						</div>
		<div class="form-group mb-4">
			{{ form_row(form.submit) }}
		</div>
		{{ form_end(form) }}
	</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.2/jquery.modal.min.js" integrity="sha512-ztxZscxb55lKL+xmWGZEbBHekIzy+1qYKHGZTWZYH1GUwxy0hiA18lW6ORIMj4DHRgvmP/qGcvqwEyFFV7OYVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
	$(function () {
$(".js-datepicker").datepicker({
dateFormat: "D d MM",
dayNamesShort: [
'Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
dayNamesMin: [
'Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
firstDay: 1,
minDate: -0,
maxDate: "+2M +10D",
monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
onSelect: function() {
var date = $( ".js-datepicker" ).datepicker('getDate');
 
{# $(this).datepicker('setDate', date); #}
var day = date.getDay();
if(day == 3) {
			$('.all_slots').addClass('hidden');
			$('.nbPeople_date').addClass('hidden');
			$("#other_date_choose").removeClass('hidden');
			$('#message_closed').removeClass('hidden');
      
 			$('#other_date_choose').click(function(){
				   // location.reload(true);
						 $('.all_slots').addClass('visible');
						$('.nbPeople_date').addClass('visible');
						$('.info').addClass('visible');
						$('#message_closed').addClass('hidden');
						$("#other_date_choose").addClass('hidden'); 
						// $('.btn_slot').addClass('disabled'); 

 });
} else if(day == 6) {
		$('.day_slot').addClass('hidden');
		$('.ln_slot_n').addClass('hidden');
		$('.evening_slot').removeClass('hidden');
		$('.ev_slot_n').removeClass('hidden');
				console.log('C\'est Samedi');
} else if(day == 0) {
		$('.day_slot').removeClass('hidden');
		$('.ln_slot_n').removeClass('hidden');
		$('.evening_slot').addClass('hidden');
		$('.ev_slot_n').addClass('hidden');
				console.log('C\'est Dimanche');
	
} else {
			$('.ln_slot_n').removeClass('hidden');
			$('.day_slot').removeClass('hidden');
			$('.ev_slot_n').removeClass('hidden');
				$('.evening_slot').removeClass('hidden');
				console.log('C\'est le jour de la semaine');
}

}
});
}
);
</script>

<script>
$(document).ready(function() {
$("#btn_reload").click(function() {
location.reload(true);
});
});

</script>
{# Show reservation informtion #}
<script>
$('.ac_btn').click(function() {
$('info').removeClass('hidden');
$('.ac_btn').addClass('active');
});
</script>

{# Show lunch only ou dinner only  #}
<script>
$('.lunch_slot_btn').click(function(){
	$('.evening_slot').addClass('hidden');
	$('.ev_slot_n').addClass('hidden');
	$('.info').removeClass('hidden');
});
$('.dinner_slot_btn').click(function(){
	$('.day_slot').addClass('hidden');
	$('.ln_slot_n').addClass('hidden');
	$('.info').removeClass('hidden');
});
 
</script>
{% endblock %}

