{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <h1>Menu</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>title</th>
                <td>{{ menu.title }}</td>
            </tr>
            <tr>
                <th>Conditions</th>
                <td>{{ menu.conditions }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ menu.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ menu.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('menu.index') }}">back to list</a>

    <a href="{{ path('menu.edit', {'id': menu.id}) }}">edit</a>

    {{ include('menu/_delete_form.html.twig') }}
{% endblock %}
