{% extends 'base.html.twig' %}

{% block title %}Plats{% endblock %}

{% block body %}
  <div class="container text-center mt-4">
    <h1 class="h5-page mt-4">Nos plats</h1>
<div class="row">
<div class="col-8">
        {% for dish in dishes %}     
                <div>{{ dish.title }}</div>
                <div>{{ dish.description }}</div>
                <div>{{ dish.price }}</div>
            
                    <a href="{{ path('dish.show', {'id': dish.id}) }}">show</a>
                    <a href="{{ path('dish.edit', {'id': dish.id}) }}">edit</a>
              
        {% else %}
         
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <div class="col-4">
   
</div>
    <a href="{{ path('dish.new') }}">Create new</a>
    </div>
   
{% endblock %}
